.articles-item__img img {
    height: 400px;
}

@media screen and (max-width: 1440px) {
    .articles-item__img img {
        height: auto;
    }
}

.color-white {
    background-image: -webkit-linear-gradient(319deg, #fff, #fff);
    background-image: -o-linear-gradient(319deg, #fff, #fff);
    background-image: linear-gradient(319deg, #fff, #fff);
}

.color-beige {
    background-image: -webkit-linear-gradient(319deg, #f4f4e1, #dadac5);
    background-image: -o-linear-gradient(319deg, #f4f4e1, #dadac5);
    background-image: linear-gradient(319deg, #f4f4e1, #dadac5);
}

.color-orange {
    background-image: -webkit-linear-gradient(319deg, #fdb93b, #e39608);
    background-image: -o-linear-gradient(319deg, #fdb93b, #e39608);
    background-image: linear-gradient(319deg, #fdb93b, #e39608);
}

.color-pink {
    background-image: -webkit-linear-gradient(319deg, #fbcbd3, #e2acb5);
    background-image: -o-linear-gradient(319deg, #fbcbd3, #e2acb5);
    background-image: linear-gradient(319deg, #fbcbd3, #e2acb5);
}

.color-gray {
    background-image: -webkit-linear-gradient(319deg, #9a9a9a, #767676);
    background-image: -o-linear-gradient(319deg, #9a9a9a, #767676);
    background-image: linear-gradient(319deg, #9a9a9a, #767676);
}

.color-blue-edge {
    background-image: -webkit-linear-gradient(319deg, #3939fb, #0a0a91);
    background-image: -o-linear-gradient(319deg, #3939fb, #0a0a91);
    background-image: linear-gradient(319deg, #3939fb, #0a0a91);
}

.color-black {
    background-image: -webkit-linear-gradient(319deg, #383838, #000000);
    background-image: -o-linear-gradient(319deg, #383838, #000000);
    background-image: linear-gradient(319deg, #383838, #000000);
}

.display-ib {
    display: inline-block;
}

.float-r {
    float: right;
}

.height-auto {
    height: auto;
}

.width-inherit {
    width: inherit !important;
}

/*Быстрый просмотр каталога*/
.body-content .header {
    position: fixed;
}

.body-content .body-main {
    width: 85%;
    float: right;
}

.footer__l {
    margin-top: 20px;
}
.find_price{
    /*text-align: center;*/
    display: inline-block;
}
.find_price_left {
    width: 40%;
    float: left;
}

.find_price_right {
    width: 100%;
    float: right;
}

.find_price_form {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.find_price__label{
    font-size: 10px;
    text-align: left;
    font-style: italic;
    margin-top: 5px;
}
.form-call:focus{
    border-color: #a98228 !important;
}
.form-call {
    position: relative;
    font-size: 12px;
    line-height: 1;
    padding: 5px 0;
    border: 1px solid #ccc;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    display: inline-table;
    padding: 10px 5px;
    width: 95%;
}

.call .find_price__block{
    width: 100%;
    padding: 5px;
    float: none;
}
.call .find_price__btn{
    margin: 10px 0;
}
#feedback-form{
    text-align: center;
    padding: 35px;
}
.find_price .action-phone__btn {
    width: 100px;
    padding: 6px 0;
    display: inline-table;
}

.find_price span {
    font-size: 10px;
    font-style: italic;
}
.find_price__block{
    width: 35%;
    float: left;
    margin-bottom: 10px;
}
.find_price__btn{
    display: inline-table;
    border: 1px solid #dadada;
    padding: 4px;
    width: 25%;
}
.find_price__btn input{
    background: #dadada;
    cursor: pointer;
    padding: 4px 20px;
    border: 0px solid;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.find_price__btn:hover{
    border-color: #a98228;;
}
.find_price__btn:hover input{
    background: #a98228;
}

@media screen and (max-width: 480px) {
    .find_price__block {
        width: 100%;
        margin: 5px 0px;
    }
    .find_price .form-call{
        margin: auto;
    }
}

.clearfix {
    clear: both;
}

.main-nav__item ul li {
    text-transform: uppercase;
    font-family: "Garamond Premiere Pro", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 23px;
    color: #666;
}

.main-nav__item ul li:hover {
    color: #9f8234;
}

.open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #9f8234;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.open a {
    font-size: 17px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-color: #ccc;
    color: #9f8234;
}

.popup {
    display: flex;
}

#quick_view {
    width: 80%;
    max-width: 1180px;
    overflow: visible;
    /*max-height: 670px;*/
}

#quick_view .card-slider {
    width: 95%;
    max-width: 348px;
}

#quick_view .slider-for {
    max-height: 520px;
    overflow: hidden;
}

#quick_view .slider-for img {
    width: 100%;
    max-width: 455px;
}

#quick_view .card-slider__nav-item {
    width: 57px !important;
}

.catalog__item {
    position: relative;
}

.catalog__item:hover .quick_prev_btn {
    display: block;
}

.quick_prev_btn {
    display: none;
    border: 1px solid #9f8234;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 0px;
    background-color: unset;
    transition: background-color 0.3s;
    font-family: "Garamond Premiere Pro", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 80%;
    color: white;
    text-align: center;
}
@media (max-width: 769px) {
    .quick_prev_btn {
        display: block;
        top: 30%;
        color: #fff;
    }
    .quick_prev_btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-image: linear-gradient(to left, #333333, #9f8234);
        transition: opacity 0.3s ease;
    }
}

.quick_prev_btn:hover {
    background-color: rgba(123, 123, 123, 0.5);
    transition: background-color 0.3s;
}

#next_qick_view,
#prev_qick_view {
    position: absolute;
    height: 100px;
    width: 57px;
    top: 40%;
    z-index: 99995;
    cursor: pointer;
}

#next_qick_view:hover, #prev_qick_view:hover {
    background-color: rgba(123, 123, 123, 0.5);
    transition: all 0.3s;
    outline: 10px solid rgba(123, 123, 123, 0.5);
}

#next_qick_view:active, #prev_qick_view:active {
    background-color: #9f8234;
    outline: 10px solid #9f8234;
}

#next_qick_view {
    background-image: url("/assets/img/icon/arrow-right-white.png");
    right: -75px;
}

#prev_qick_view {
    background-image: url("/assets/img/icon/arrow-left-white.png");
    left: -75px;
}

.popup .card-description {
    float: left;
}

.popup .card-description {
    float: right;
}

@media screen and (max-width: 1600px) {
    .find_price_left {
        width: 100%;
    }

    .find_price_right {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) {
    .popup {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.card-description__proprties_title {
    font-size: 20px;
    font-family: "Garamond Premiere Pro", sans-serif;
    font-weight: bold;
    margin-right: 5px;

}

.main-nav__list ul {
    margin-bottom: 20px;
}

.main-nav__link_sub {
    text-transform: uppercase;
    font-family: "Garamond Premiere Pro", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 23px;
    color: #666;
    cursor: pointer;
}

.main-nav__link_sub:hover {
    color: #9f8234;
}

.main-nav .is-active .main-nav__link_sub {
    font-weight: bold;
    border-color: #ccc;
    color: #9f8234;
}
.three_dots:hover{
    color:white;
}

.btn-back {
    display: none;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.btn-back-control {

}

.btn-back-control:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    width: 17px;
    height: 13px;
    background: url(/assets/img/efsprite.png) -34px -90px no-repeat;
}
@media (max-width: 769px) {
    .btn-back {
        display: block;
    }
}



.news__detail {
    padding: 20px;
    font-family: "Garamond Premiere Pro", sans-serif;
}
.news__detail__img {
    margin-bottom: 20px;
}
.news__detail__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 37px;
    padding-top: 37px;
    margin-bottom: 0;
}
.news__detail__date {

}
.news__detail__text {

}