.body-content .header {position:fixed;}
.body-content .body-main {width:85%; float:right;}
.footer__l {margin-top:20px;}
.clearfix {clear: both;}

.test {}

.footer__r {margin-top: 20px}
.footer__c {
    text-align: center;
}

@media (max-width: 1200px) {
    .body-content .body-main {
        width: 81%;
    }
    .page__index__slider {
        width: 100%;
    }

    .header__main__social__item {
        display: inline-block;
        margin: 20px 5px 0;
    }
}
@media (max-width: 993px) {
    .body-content .header {
        position: static;

    }
    .body-content .body-main {
        width: 100%;
        float: none;
    }
    .page__index__inf__wrap {
        height: auto;
    }
}