.mob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, 0.82);
    z-index: 50
}

.mob-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: #2c2c2c;
    border-radius: 0 0 8px 8px;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 256px;
    overflow: auto;
    padding-top: 70px
}

.mob-menu-nav li a {
    display: block;
    padding: 15px 40px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8495a0;
    transition: color .2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.mob-menu-nav li a:hover, .mob-menu-nav li a:focus {
    color: #fff;
    padding: 15px 40px;
    font-size: 13px;
}

.mob-menu-footer {
    margin-top: 20px;
    text-align: center
}
.mob-menu-icon {
    position: absolute;
    top: 54px;
    right: -41px;

    -moz-transform: rotate(15deg); /* Для Firefox */
    -ms-transform: rotate(15deg); /* Для IE */
    -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(15deg); /* Для Opera */
    transform: rotate(15deg);
}
.mob-menu-icon svg {
    fill: #8495a066;
    width: 118px;
}

.mob-btn {
    display: none;
    position: fixed;
    z-index: 99;
    left: 15px;
    top: 35px;
    cursor: pointer;
    height: 20px;
    width: 30px
}

.mob-btn span {
    margin-bottom: 5px;
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 1px
}

.mob-btn span:nth-child(1) {
    top: 0
}

.mob-btn span:nth-child(2n) {
    top: 8px
}

.mob-btn span:nth-child(3n) {
    top: 16px
}

.mob-btn.active span {
    display: block;
    background: #fff
}

.mob-btn.active span:nth-child(1) {
    top: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mob-btn.active span:nth-child(2n) {
    opacity: 0;
    width: 0;
    height: 0
}

.mob-btn.active span:nth-child(3n) {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.js-mob-menu-open .mob {
    display: block
}

.js-mob-menu-open .mob-menu {
    display: block
}

.mob .header__main__phone__btn {

}
.mob .header__main__phone__btn .header__main__phone__btn__control {
    color: #fff;
    letter-spacing: 3px;
}

/* menu-top */


.menu-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);;
}

.menu-top .header__main__menu__title {
    display: none;

}
.menu-top li {
    display: inline-block;
}
.menu-top li:hover a {
    padding: 10px 0;
    font-size: 17px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.menu-top li:hover a:before {
    display: none;
}

.menu-top li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
    border: 1px solid transparent;
    text-shadow: 1px 1px 2px #000;
}
.menu-top li a:after {
     content: '';
     display: block;
     -ms-transition: -webkit-transform .3s ease-out,border-color .3s ease-out;
     -webkit-transition: -webkit-transform .3s ease-out,border-color .3s ease-out;
     transition: transform .3s ease-out,border-color .3s ease-out;
     position: absolute;
     display: block;
     bottom: -2px;
     left: 0;
     width: 100%;
     -ms-transform: scaleX(0);
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     border-top: 2px solid #fff;
     content: '';
     padding-bottom: inherit;
 }
/*.menu-top li:hover a:after {*/
/*backface-visibility: hidden;*/
/*-ms-transform: scaleX(1);*/
/*-webkit-transform: scaleX(1);*/
/*transform: scaleX(1);*/
/*}*/
.menu-top .content {
    position: relative;
}
.menu-top-logo {
    position: absolute;
    left: 0;
    top: -8px;
}

.page__index__block {
    clear: both;
    width: 100%;
}
.page__index__block .row {
    margin: 0;
    clear: bottom;
}
.page__index__block .item {
    position: relative;
    height: 900px;
}
.page__index__block .item__wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page__index__block .item__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.page__index__block .item__title {
    position: relative;
    color: #000;
    display: block;
    margin-bottom: 150px;
    font-size: 155px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;

    padding: 36px;
    line-height: 50px;
}

.page__index__block .item__title:before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 34px;
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
    height: 90%;
    z-index: -1;
}
.page__index__block .item__btn a {
    display: inline-block;
    margin: 50px 10px 150px;
    padding: 15px 25px 10px;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
.page__index__block .item__btn.big {
    margin-bottom: 200px;
}
.page__index__block .item__btn.big a {
    font-size: 40px;
}
.page__index__block .item__btn a:hover {
    background: rgba(0, 0, 0, 0.61);
}

/* -- Комп */
header {position: relative}

.flex-full {flex-direction: column;}
.flex-full .contacts-content {max-width: none}

.page__index__slider__list__item__content {
    height: 78.5%;
    z-index: 99;
    position: relative;
}
.page__index__slider__list__item__content__title {
    margin-bottom: 50px;
}
.page__index__slider__list__item__content__title__control {
    font-size: 32px;
    letter-spacing: 3px;
    margin: 0 10px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.page__index__text {
    margin: 50px 0;
    clear: both;
    padding: 50px;
    text-align: center;
    float: left;
    width: 100%;
    font-size: 25px;
    color: #000;
    letter-spacing: 3px;
}
.page__index__text p {
    line-height: 33px;
}
.page__index__text b {
    font-style: italic;
}
.page__index__text span {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.main-nav__text {display: none}


/* ---- */
@media (max-width: 994px) {
    .menu-top {
        display: none;
    }
    .mob-btn {
        display: block;
    }
    .header__main__menu__title {
        font-size: 20px;
        letter-spacing: 4px;
        color: #fff;
        text-transform: uppercase;
        padding-left: 25px;
    }
    .header__main__logo {
        display: none;
        padding: 10px;
    }
    .header__main__logo img {
        width: 34%;
    }

    .header__main__menu {
        display: none;
    }

    .header {
        background: #fff;
    }

    .page__index__text {
        padding: 0;
    }


    /* Слайдер */
    .page__index__slider__list__item__content {
        padding: 0 20px;
    }
    .page__index__slider__list__item__content__title__control {
        font-size: 17px;
        letter-spacing: 2px;
        margin: 0 10px;
    }

    .page__index__slider__list__item__content__btn {
        margin: 0;
    }
    .page__index__slider__list__item__content__btn__control {
        width: 155px;
        height: 62px;
        background-size: cover;
    }

    .page__index__slider .slick-slider .slider__arrow {
        width: 35px;
        height: 72px;
        opacity: 1;
        background-size: cover;
    }
    .page__index__slider__list__item__content {
        height: 86%;
    }

    .page__index__block .item {
        height: 580px;
    }

    .page__index__block .item__title {
        font-size: 100px;
        line-height: 0;
        margin-bottom: 20px;
    }
    .page__index__block .item__btn.big {
        margin-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .page__index__block .item__title {
        font-size: 55px;
    }
    .page__index__block .item__title:before {
        height: 59%;
        top: 19px;
        width: 80%;
    }
    .page__index__block .item__btn a {
        font-size: 17px;
        margin-left: 0;
        margin-right: 0;
    }
    .page__index__block .item__btn.big a {
        font-size: 21px;
    }
}


/* Убираем */

.body-content .body-main {
    width: 100%!important;
}
.header {
    display: none;
}
.width_100{
width: 100%;
}


.popup {
    display: none;
    max-width: 600px;
}

/* --------------------------  */


.btn {
    outline: none;
    border: 0;
    overflow: 0;
    font-family: "Comfortaa", cursive;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    padding: 4px 10px 2px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 200px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    transform: perspective(1px) translateZ(0);
    background: #DBA742;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2)
}

.btn:active, .btn:focus {
    outline: none
}

.btn::-moz-focus-inner {
    border: 0
}

.btn-big {
    font-weight: normal
}

.btn-big .btn-control {
    padding: 12px 15px
}

.btn-white, .page__index__map .menu li a.active {
    background: #fff
}

.btn-white .btn-control, .page__index__map .menu li a.active .btn-control {
    color: #4b6868
}

.btn-control {
    display: block;
    border-radius: 100px;
    padding: 4px 5px;
    color: #fff
}

.btn .core__icon {
    position: relative;
    top: -2px;
    margin: 5px
}

.btn:hover, .btn:focus {
    transform: scale(1.1)
}

.btn-border {
    background: transparent;
    color: #FFF;
    border: 2px solid #4b6868
}

.form.success .form-wrap {
    display: none
}

.form.success .form-success {
    display: block
}

.form-wrap {
    display: block
}

.form-success {
    display: none;
    background: #ddd;
    border-radius: 50px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px
}

.form-input {
    position: relative;
    margin-bottom: 10px
}

.form-input-control {
    display: block;
    font-size: 11px;
    padding: 16px 15px 15px;
    width: 100%;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: solid 1px #cccccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-input-control:focus {
    color: #495057;
    border-color: #DBA742;
    outline: 0
}

.form-input-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-input-control::-webkit-input-placeholder, .form-input-control:-ms-input-placeholder, .form-input-control::placeholder {
    color: #868e96;
    opacity: 1
}

.form-input-error {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 12px;
    padding-top: 2px;
    color: red
}

.form-input.error .form-input-control {
    border-color: red
}

.form-checkbox {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer
}

.form-checkbox-control {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.form-checkbox-control:checked ~ .form-checkbox-text {
    transition-delay: 0s;
    opacity: 0.3
}

.form-checkbox-control:checked ~ .form-checkbox-text a {
    z-index: auto
}

.form-checkbox-control:checked ~ .form-checkbox-svg .form-checkbox-svg-box {
    stroke-dashoffset: 56.1053;
    transition-delay: 0s
}

.form-checkbox-control:checked ~ .form-checkbox-svg .form-checkbox-svg-line {
    stroke-dashoffset: -8
}

.form-checkbox-control:checked ~ .form-checkbox-svg .form-checkbox-svg-check {
    stroke-dashoffset: 0;
    transition-delay: .48s
}

.form-checkbox-control:checked ~ .form-checkbox-svg .form-checkbox-svg-circle {
    animation-name: explode
}

.form-checkbox-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    fill: none;
    stroke: #DBA742;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round
}

.form-checkbox-svg use {
    transition: stroke-dashoffset .8s cubic-bezier(0.9, 0, 0.5, 1)
}

.form-checkbox-svg-circle {
    stroke: #DBA742;
    stroke-dasharray: 1 6;
    stroke-width: 0;
    transform-origin: 13.5px 12.5px;
    transform: scale(0.4) rotate(0deg);
    animation: none .8s linear
}

@keyframes explode {
    30% {
        stroke-width: 3;
        stroke-opacity: 1;
        transform: scale(0.8) rotate(40deg)
    }
    100% {
        stroke-width: 0;
        stroke-opacity: 0;
        transform: scale(1.1) rotate(60deg)
    }
}

.form-checkbox-svg-box {
    stroke-dasharray: 56.1053, 56.1053;
    stroke-dashoffset: 0;
    transition-delay: .16s
}

.form-checkbox-svg-check {
    stroke: red;
    stroke-dasharray: 9.8995, 9.8995;
    stroke-dashoffset: 9.8995;
    transition-duration: .32s
}

.form-checkbox-text {
    font-size: 14px;
    color: #1B4A4E;
    transition: all .4s linear .4s
}

.form-checkbox-text a {
    position: relative;
    text-decoration: underline;
    z-index: 2;
    color: #9f8234;
}

.form-checkbox-text a:hover {
    color: #DBA742
}

.form-checkbox.error .form-checkbox-svg-box {
    border-color: red;
    stroke: red
}

.form-text-mini {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px
}
.page__index__feedback {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .page__index__feedback {
        padding: 50px 0
    }
}

.page__index__feedback__title {
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px
}

.page__index__feedback__text {
    margin: auto;
    max-width: 400px;
    padding: 20px 0;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 24px;
}

.page__index__feedback__form {
    max-width: 300px;
    margin: auto
}

.page__index__feedback__form .btn {
    display: block;
    width: 100%;
    margin-top: 10px
}

.page__index__feedback__form .btn-control {
    display: block;
    padding: 15px
}

.page__index__feedback__form__btn-top {
    padding-top: 30px
}

.page__index__feedback__form__btn-top svg {
    width: 30px;
    height: 40px;
    overflow: unset;
    -webkit-animation: angle_down 1.7s ease-in-out infinite;
    -moz-animation: angle_down 1.7s ease-in-out infinite;
    animation: angle_down 1.7s ease-in-out infinite
}

.page__index__feedback__form__btn-top span {
    display: block;
    font-weight: bold;
    font-size: 19px
}

@-webkit-keyframes angle_down {
    0% {
        opacity: 0.8;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@-moz-keyframes angle_down {
    0% {
        opacity: 0.8;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes angle_down {
    0% {
        opacity: 0.8;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

.page__index__map {
    margin-bottom: 20px
}

@media only screen and (max-width: 768px) {
    .page__index__map__iframe iframe {
        height: 300px
    }
}

.page__index__map__btn {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 30px
}

@media only screen and (max-width: 768px) {
    .page__index__map__btn {
        position: relative
    }
}

.page__index__map__btn .btn.active {
    display: none
}

.page__index__map__text {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 30px
}

@media only screen and (max-width: 768px) {
    .page__index__map__text {
        position: relative
    }
}

.page__index__map__text:active, .page__index__map__text.active, .page__index__map__text:active:focus, .page__index__map__text:active:hover, .page__index__map__text.active:focus, .page__index__map__text.active:hover {
    display: block
}

.page__index__map .menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 30px
}

@media only screen and (max-width: 768px) {
    .page__index__map .menu {
        position: relative
    }
}

.page__index__map .menu li {
    display: inline-block
}

.page__index__map .menu li a {
    margin: 0 10px 10px
}

.page__index__map .list .item {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 30px 30px 100px
}

@media only screen and (max-width: 768px) {
    .page__index__map .list .item {
        position: relative
    }
}

.page__index__map .list .item:active, .page__index__map .list .item.active, .page__index__map .list .item:active:focus, .page__index__map .list .item:active:hover, .page__index__map .list .item.active:focus, .page__index__map .list .item.active:hover {
    display: block
}

.page__index__map .list .item .app-js-close {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    height: 44px;
    margin: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 10
}

.page__index__map .list .item .app-js-close svg {
    fill: transparent;
    opacity: .8;
    stroke: currentColor;
    stroke-width: 1.5;
    transition: stroke .1s
}


.row-table {width: 100%; display: table;}
.row-table .col-12 {
    width: 50%;
    display: table-cell;
    padding: 20px 30px;

    background-color: #ebebea;
}
@media (max-width: 1000px) {
    .row-table {
        display: block;
    }
    .row-table .col-12 {
        width: 100%;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }
}