//Settings

// Media queries
$desktop: 1170px;
$laptop: 992px;
$tablets: 768px;
$phone: 576px;

//Fonts
$font-family-base: "Noto Sans", sans-serif;
$font-Garamond: "Garamond Premiere Pro", sans-serif;
$font-weight-base: 500;
$font-size-base: 16px;
$line-height-base: 1.5;

//Color
$color-base: #333;
